.container {
  margin-top: 115px;
  padding-top: 20px;
  width: 500px;
  height: 150px;
  background-color: rgb(119, 62, 194);
}
.square_1 {
  width: 500px;
  height: 150px;
  border: 8px dotted green;
  background-color: blueviolet;
  margin-bottom: 15px;
  margin-left: 30%;
}
.square_2 {
  width: 500px;
  height: 150px;
  border: 10px dashed rgb(255, 0, 212);
  margin-bottom: 15px;
  margin-left: 30%;
  background-color: rgb(221, 208, 28);
}
.square_3 {
  width: 500px;
  height: 150px;
  border: 20px solid rgb(16, 25, 150);
  margin-bottom: 15px;
  margin-left: 29.3%;
  background-color: rgb(221, 99, 28);
}
.square_4 {
  width: 500px;
  height: 150px;
  border-left: 4px solid rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-left: 30%;
  background-color: rgba(221, 28, 28, 0.548);
}
